/* Mobile Version */

/* navbar */
/* hero */
.desktop-background {
  background-image: url("../images/desktop-bg.svg");
  background-repeat: no-repeat;

}

.intro{
    margin-top: 100%;
    color: #091E42;
    
}
/* projects */
/* about me */
/* contact me */
.footer-background {
    background-image: url("../images/desktop-contact-bg.svg");
    background-repeat: no-repeat;
    background-color: #6070FF;
  
  }

/* Desktop Version */

/* navbar */
/* hero */
/* projects */
/* about me */
/* contact me */